.marginContent{
    margin: 100px;
}

.centrarTitulo {
    display: flex;
    justify-content: center;
    margin: 100px;
    text-decoration: underline;
}

.subtitulo {
    margin-bottom: 40px;
    text-decoration: underline;
}

.buttonSubsecciones {
    margin-bottom: 10px;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.750);
}

