

.centrarTitulo {
    display: flex;
    justify-content: center;
    margin: 100px;
    text-decoration: underline;
}

.subtitulo {
    margin-bottom: 40px;
    text-decoration: underline;
}

.buttonSubsecciones {
    margin-bottom: 10px;
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.750);
}

.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 40px;
}

#avatar {
    width: 200px;
    height: auto;
}

.wrapper {
    margin: 15px;
    
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;
    margin: 0 auto;
    justify-content: center;
    text-align:center;
  }
  
  .column1 {
    
    height: 100px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }
  
  #contTable {
      width: 100%;
  }
  