.card {
    width:300px;
    height:640px;
    padding: 30px;
    border-radius: 13px;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.card:hover {
    background:rgb(255, 255, 194);
    align-items: center;
    text-align: center;
    border-radius: 13px;
    transition: 0.5s ease;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 0.5s ease;
}

#cardImgCont {
  
  width: 300px;
  height: 300px;
}
#cardImg{
  width: 280px;
  height: auto;
}
#cardDesc{
  width: 300px;
  height: 200px;
  max-height: 210px;
  padding-top: 15px;
  padding-left:  15px;
  padding-bottom:  15px;
  padding-right:  20px;
  
  text-align:center;
  overflow-y: scroll;
}



  