#contGrid {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    width: 100%;
     
    
    display: flex;
    justify-content: center;
  flex-wrap: wrap;
  
}

#espacio {
    width: 310px;
    height: 670px;
}
.boton{
    
    display: flex;
   
    margin: 0 auto;
}
