.redondo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(171, 171, 171);
}
.redondo:hover {
  background-color: cyan;
  transition: 0.5s ease;
  transition: 0.5s ease;
}

.navbar {
  width: 100%;
  padding: 12px 12px;
  display: flex;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(41, 41, 42, 1) 74%,
    rgba(23, 83, 96, 1) 100%
  );
}

#searchinput {
  margin-bottom: 0px;
  width: 500px;
}

.msgCont {
  position: absolute;
  width: 99%;
}
#msgBody {
  float: right;
  background-color: rgba(255, 255, 255, 0.832);
  align-content: center;
  text-align: center;
  width: 200px;
  height: 80px;
  border-radius: 11px;
  visibility: hidden;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.612);
  z-index: 100;
}
#msgText {
  padding-top: 30px;
  width: 200px;
  height: 50px;
}
.cerrar {
  background-color: rgb(63, 63, 63);
  color: white;
  height: 29px;
  width: 29px;
  border-radius: 50%;
  border: 1px solid rgb(82, 82, 82);
  border-radius: 50%;
  z-index: 150;
}
.cerrar:hover {
  background-color: rgb(125, 125, 125);
}

.contCerrar {
  float: right;
}

#searchButton{
    width: 20px;
    height: auto;
}
